body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.panel-header {
    padding: 5px;
}

.no-margin {
    margin: 0;
}
